.html {
    background-color: #ece2e1;
    background-size: cover;
}

.body {
    background: #999;
    padding: 100px;
}

/*Image*/
.img {
    position: absolute;
    /*left: 100px;*/
    top: 100px;
    width: 400px;
    height: 250px;
}

.img_lamp {
    max-width: 200px;
    max-height: 300px;
}

/*Before-after page*/
.img_btn {
    position: relative;
    border-radius: 42px;
    outline: none;
    transition: .3s linear;
    cursor: pointer;
}

.img_btn:hover {
    width: 60px;
    height: 60px;
}

#img_right {
    left: 80%;
}

#img_left {
    left: 20%;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: dimgrey;
}

::-webkit-scrollbar-thumb:hover {
    background-color: crimson;
}

::-webkit-resizer {
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Button*/
.button[type=submit] {
    border-radius: 20px;
    width: 250px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: wheat;
    letter-spacing: .05em;
    text-transform: uppercase;
    background: #225556;
    transition: .3s linear, color .4s linear;
    border: none;
}

.button[type=submit]:hover {
    cursor: pointer;
    background: #F15B42;
}

/*Button*/
.btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 10px 25px;
    background-color: #ece2e1;
    /*color: #F15B42;*/
    color: #0e1b47;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #0e1b48;
    text-transform: uppercase;
    text-decoration: none;
    transition: .1s linear, color .4s linear;
    border-radius: 4px;
}

.btn:hover {
    color: #0e1b48;
    cursor: pointer;
    border-color: #F15B42;
}

#btn_XXL {
    font-size: 20px;
}

/*Text*/
.mess {
    text-align: center;
    margin-height: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    color: #225556;
}

.section_title {
    color: #0e1b47;
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.title {
    font-family: 'Cormorant Garamond', serif;
    color: #0e1b47;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    top: 10px;
    bottom: 10px;
}

.title:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    margin: 30px auto 30px;

    background-color: #f57977;
}

/*Section*/
.section1 {
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
    line-height: 1;
}

.section2 {
    text-align: center;
    justify-content: center;
    max-width: 70%;
    position: relative;
    margin: 0 auto;
}

.uni_section {
    position: relative;
    margin: 100px 100px 0px;
    text-align: center;
    justify-content: center;
    line-height: 1;
}

.intro_section_left {
    position: relative;
    margin-top: 60px;
    margin-left: 30%;
    max-width: 750px;
    text-align: center;
    line-height: 1;
}

/*Table*/
.table {
    position: relative;
    margin-top: 40px;
    min-width: 100%;
    font-size: 26px;
    border-spacing: 0;
    empty-cells: hide;
}

.table_for_page {
    position: relative;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 28px;
    border-spacing: 0;
    empty-cells: hide;
}

.td_for_page {
    display: inline-table;
    width: 80px;
    padding: 0;
    margin: 0;
}

td {
    padding: 10px 20px;
    text-align: center;
    color: #F9F0DA;
    border-bottom: 4px solid #F4EEE8;
    transition: all 0.5s linear;
}


.td_dark_odd:nth-child(odd) {
    background-color: #576191;
    color: white;
}

.td_grey_even:nth-child(even) {
    background-color: #8a96d4de;
    color: white;
}

.td_blue_even:nth-child(even) {
    background: #b9c2f0c0;
    color: white;
}

.td_almost:nth-child(even) {
    width: 200px;
    background: #cbd2f7c0;
    color: white;
}

.td_almost:nth-child(odd) {
    width: 200px;
    background: grey;
    color: white;
}

.td_blue_odd:nth-child(odd) {
    width: 200px;
    background: #b9c2f0c0;
    color: white;
}

.td_for_page:nth-child(even) {
    background: #171924fb;
    color: white;
}

.td_for_page:hover {
    background: rosybrown;
}

td:nth-child(odd) {
    background: grey;
    color: white;
}

/*Footer*/
.footer {
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    line-height: 1;
}

/*Select*/

.select {
    position: relative;
    max-width: 80%;
    max-height: 200px;
    /*bottom: 50px;*/
    border-radius: 6px;
    border-width: 3px;
    border-color: #83B4CF;

    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: dimgrey;
    text-align: center;
}

.select:focus {
    outline: 0;
}

/*!*Option*!*/

#option {
    transition: color .2s linear;
    color: dimgrey;
}

#option:hover {
    cursor: pointer;
    background: #83B4CF;
    color: #fff;
}

/*Navigation*/
.nav_main {
    margin-bottom: 40px;
    padding: 20px 40px 20px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.nav_for_page {
    position: relative;
    margin: 0;
    text-decoration: none;
    font-size: 26px;
    color: white;
}

.nav_link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 7px;
    color: #0e1b48;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:hover {
    color: #F15B42;
    cursor: pointer;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #F15B42;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .5s linear;
}

.nav_link:hover:after {
    display: block;
    opacity: 1;
}

.nav_between {
    padding: 20px 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Lobster', cursive;
}

.nav_href {
    /*padding: 50px 60px;*/
    width: 50%;
    left: 25%;
    display: flex;
    position: relative;
    justify-content: flex-start;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}


.href_size {
    outline: none;
    border: none;
    text-decoration: none;
    bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: #f2a82d;

    font-size: 46px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lobster', cursive;

    transition: color .4s linear;
    cursor: pointer;
}

#plus {
    position: absolute;
    left: 60%;
}

#minus {
    position: absolute;
    left: 40%;
}

#number {
    position: relative;
    text-align: center;
    margin-left: 40px;
    color: #0e1b48;
    font-size: 40px;
}

.href_size:hover {
    color: #F15B42;
}