<!DOCTYPE html>
<html lang="en" class="html" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Room</title>
  <link rel="icon" href="images/favicon2.ico" type="image/x-icon"/>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<section class="uni_section">
  <div id="message_section">
    <h3 class="title_mess" th:text="${message}"></h3>
  </div>
</section>
<form th:action="@{/saveCountry}" th:object="${country}" th:method="post">
  <input type="hidden" th:value="${country.id}" th:attr="name='id'"/>
  <label>
    <input class="select" type="text" th:field="*{countryName}" autocomplete="off"/>
  </label>
  <h1 class="mess" th:if="${#fields.hasErrors('countryName')}" th:errors="*{countryName}"></h1>
  <br/><br/><br/>
  <input class="btn" type="submit" value="Add new country" id="btn_XXL"/>
</form>
<footer class="footer">

</footer>

</body>
</html>
