<!DOCTYPE html>
<html lang="ru" class="html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="icon" href="images/favicon2.ico" type="image/x-icon">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<header class="header">
    <nav class="nav_main">
        <a class="nav_link" th:href="@{/}">Home page</a>
    </nav>
</header>


<section class="uni_section">

    <h1 class="title">Add new room</h1>

    <form th:action="@{/saveRoom}" th:object="${room}" method="post">

        <label>
            <h2 class="section_title">Country</h2>
            <select class="select" th:name="idCountry">
                <option th:each="choiceCountry : ${countries}"
                        th:value="${choiceCountry.id}"
                        th:text="${choiceCountry.countryName}">
                </option>
            </select>
        </label>
        <input type="hidden" th:value="${room.id}" th:attr="name='id'"/>
        <input type="hidden" th:value="${true}" th:attr="name='lampIsActive'"/>

        <h2 class="section_title">Name for room</h2>
        <label>
            <input class="select" autocomplete="false" type="text" th:field="*{name}"/>
        </label>
        <h1 class="mess" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></h1>

        <br><br><br>

        <input type="submit" value="OK" class="btn">
    </form>
</section>
</body>

<footer class="footer">

</footer>
</html>