<!DOCTYPE html>
<html lang="en" class="html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="icon" href="images/favicon2.ico" type="image/x-icon">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script type="text/javascript" src="\js\lamp.js"></script>
    <script>
        let stompClient = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility
                = connected ? 'visible' : 'hidden';
        }

        function connect() {
            let socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function () {
                setConnected(true);
                let roomId = document.getElementById("roomId").value;
                stompClient.subscribe('/topic/activity/' + roomId, function (room) {
                        showInfo(JSON.parse(room.body));
                    }
                );
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
        }

        function showInfo(room) {
            let lamp = {lampIsActive: room.lampIsActive};
            let nameRoom = {name: room.name};
            const image = document.getElementById('img')
            document.getElementById("container").appendChild(image)
            let info = document.getElementById("info");
            if (lamp.lampIsActive === true) {
                info.innerText = 'A lamp is burning in the room "' + nameRoom.name + '"';
                image.src = '/images/yes.png';
            } else {
                image.src = '/images/no.png';
                info.innerText = 'A lamp is not lit in the room "' + nameRoom.name + '"';
            }
        }

        function switchLamp() {
            const roomId = document.getElementById("roomId").value;
            stompClient.send("/app/changeLamp/" + roomId, {});
        }
    </script>
</head>

<body onload="disconnect()">
<div>
    <nav class="nav_main">
        <a class="nav_link" th:href="@{/}">home</a>
        <a class="nav_link" id="connect" onclick="connect()">connect</a>
        <a class="nav_link" id="disconnect" onclick="disconnect()">disconnect</a>
    </nav>
    <div class="section2">
        <h1 class="title" th:text="${room.name + ' (' + room.country.countryName + ')'}"></h1>
    </div>
    <div>
        <section id="conversationDiv" class="section2">
            <button class="btn" id="switchLamp" onclick="switchLamp();">Switch</button>
            <br><br>
            <h1 th:id="info" class="mess"></h1>
            <div th:id="container" class="title">
                <img th:id="img" class="img_lamp" th:src="${src}">
            </div>
        </section>
    </div>
    <input id="roomId" type="hidden" th:value="${room.id}">
</div>
</body>
</html>