<!DOCTYPE html>
<html lang="en" class="html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Room</title>
    <link rel="icon" href="images/favicon2.ico" type="image/x-icon"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<section class="section1">
    <img class="img" src="/images/room2.png" alt="room"/>
    <div class="intro_section_left">
        <h1 class="title">
            All rooms </h1>
        <input class="btn" type="button" value="Add new room"
               onclick="window.location.href = '/addNewRoom'"/>
    </div>
</section>
<section class="uni_section">
    <div id="message_section">
        <h3 class="title_mess" th:text="${message}"></h3>
        <br><br>
        <input class="btn" type="button" value="Add new country"
               onclick="window.location.href = '/addNewCountry'"/></div>

    </div>
</section>


<section class="section2" th:if="${roomPage.content.size() gt 0}">

    <div class="uni_section">

        <h1 id="number" th:text="${roomPage.size}"></h1>

        <a class="href_size" id="minus"
           th:text="'-'"
           th:if="${roomPage.size > 5}"
           th:href="@{/(page=${roomPage.number}, size =${roomPage.size - 5})}">
        </a>

        <a class="href_size" id="plus"
           th:text="'+'"
           th:if="${roomPage.size < 25 && (roomPage.size + 5) * roomPage.number < roomPage.totalElements}"
           th:href="@{/(page=${roomPage.number}, size =${roomPage.size + 5})}">
        </a>

    </div>
</section>

<table class="table" id="room">
    <tbody id="rooms">
    <tr th:each="room : ${roomPage}">
        <td class="td_dark_odd" th:text="${room.name}" th:id="td"></td>
        <td class="td_grey_even" th:text="${room.country.countryName}"></td>

        <td class="td_almost"><a th:href="@{/goToRoom(roomId=${room.id})}" class="btn"
                                 th:text="Go"></a></td>
    </tr>
    </tbody>

</table>

<nav class="nav_between">
    <a class="nav_link" th:if="${roomPage.number > 0}"
       th:href="@{/(page=${roomPage.number - 1},
            size =${roomPage.size})}"
       th:text="Назад">
    </a>

    <a class="nav_link" th:if="${roomPage.number + 1 < roomPage.totalElements/roomPage.size}"
       th:href="@{/(page=${roomPage.number + 1},
            size =${roomPage.size})}"
       th:text="Вперед">
    </a>
</nav>

<section class="uni_section">
    <table class="table_for_page" th:if="${roomPage.totalPages > 0}">
        <tr>
            <td class="td_for_page"
                th:each="pageNumber : ${numbers}"
                th:id="${pageNumber == roomPage.number} ? active">
                <a class="nav_for_page"
                   th:href="@{/(page=${pageNumber},
            size =${roomPage.size})}"
                   th:text="${pageNumber + 1}"></a>
            </td>
        </tr>
    </table>
</section>

<footer class="footer">

</footer>

</body>
</html>
